@import '~src/styles.scss';

.product-card {
    @include user-select;
    @include box-shadow-defined(0 0 16px 0 rgba(0, 0, 0, 0.15));
    border: 1px solid $light-grey;
    border-radius: 8px;
    cursor: pointer;

    &__product {
        &--image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            height: 200px;
            width: 100%;
        }

        &--content {
            padding: 16px 16px 0;
        }

        &--name {
            font-weight: $bold;
        }

        &--excerpt {
            width: 100%;
        }

        &--price {
            font-weight: $bold;
            color: $blue-violet;
        }
    }

    &__add-to-cart {
        @include svg-icons('shopping-basket');
        position: absolute;
        right: 0;
        background-size: 32px;
        background-position: center;
        padding: 16px;
        height: 32px;
        width: 32px;

        &--container {
            position: relative;
            height: 56px;
            width: 100%;
        }
    }
}